{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "object-curly-newline": "off",
    "padded-blocks": "off"
  }
}