<article class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <section class="col-lg-8">
        {% block header %}
          {{ header | safe }}
        {% endblock %}
        <div class="row">
          <div class="col-lg-4">
            {% block badge %}
            {{ badge | safe }}
            {% endblock %}
          </div>
          <div class="col-lg-8 last">
            {% block rankings %}
            {{ rankings | safe }}
            {% endblock %}
          </div>
        </div>
      </section>
      <aside class="col-lg-4 col-xs-12 last">
        {% block advertisement %}
        {{ advertisement | safe }}
        {% endblock %}
      </aside>
    </div>
    <button type="button" class="toggle-btn">
      Toggle Ranking List
    </button>
  </div>
</article>
