{###########################################################}
{# Keep structure, implement included flexbox grid library #}
{###########################################################}

<div class="">
    <div class="">
        <h2>Heading</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Ex suscipit provident mollitia accusamus dolorem, vitae officiis eum
            temporibus.
        </p>
        <div class="">
            <div>
                <img class="badge" src="/img/national-universities-badge.svg" alt="">
            </div>
            <div class="">
                <ul>
                    <li class="">
                        <strong>#1</strong>
                        <div class="">
                            <a href="">Name of college</a>
                            <div><strong>Location:</strong> Lorem ipsum dolor sit amet</div>
                        </div>
                    </li>
                    <li class="">
                        <strong>#2</strong>
                        <div class="">
                            <a href="">Name of college</a>
                            <div><strong>Location:</strong> Lorem ipsum dolor sit amet</div>
                        </div>
                    </li>
                    <li class="">
                        <strong>#3</strong>
                        <div class="">
                            <a href="">Name of college</a>
                            <div><strong>Location:</strong> Lorem ipsum dolor sit amet</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="">
        <img class="add" height="250px" width="300px" src="http://placehold.it/600x500?text=dummy+ad">
    </div>
</div>